
<html>
    <head>
        <title>Your prediction</title>
        <style>
            body {
                background-color: rgb(239, 236, 232);
            }
            h2 {
                text-align: center;
                margin-top: 350px;
                color: rgb(68, 7, 188);
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 2.5em;
            }
        </style>
    </head>
    <body>
        <h2>Your prediction  : {{ output }}</h2>
    </body>
</html>









<!--<html>
    <head>
        <title>Your prediction</title>
    </head>
    <body style="background-color: antiquewhite;">
        <h2 style="text-align: center;  margin-top: 350px; color: rgb(68, 7, 188);">Your prediction here : {{ output }}</h2>
    </body>
</html>-->